/* main styles */

body {
  color: white;
  background-color: #4d5057;
  font-family: "Public Sans", sans-serif;
}

a {
  color: #f9a620;
}

.container {
  width: 90%;
}

.center {
  margin: 0 auto;
}

/* nav section */

nav ul {
  margin-top: 0;
  list-style: none;
  padding: 0;
}

nav li {
  display: flex;
  background-color: #99d17b;
  margin-bottom: 1rem;
  height: 6.3rem;
  border-radius: 15px;
}

nav a {
  display: flex;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

article {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

article img {
  width: 100%;
  box-shadow: 5px 5px 5px black;
}

/* header section */

h1 {
  font-size: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  text-shadow: 5px 5px 8px #009fb7;
}

.banner {
  background-image: url(img/banner-img.jpg);
  background-size: stretch;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
}

/* programs section */

#programs article {
  background-color: #a690a4;
}

/* instructors section */

#instructors article {
  background-color: #009fb7;
}
